h1{
    text-align: center;
    margin-top: 50px;
}


#logo{
  position:absolute;
  top:10px;
  left:10px;
  width:40px;
  height:40px;
  overflow:hidden;
  }

  

p {
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 25px;
  font-size: larger;
  font-weight: 950;
}
p {
  
  color: rgb(0, 0, 0);
}


.marge{
  margin-right: 500px;
  margin-left: 500px;
}

article{
  width:80%;
  margin:10%;
}

section{
  border-bottom:solid 1px;
  width:270px ;
  margin-left: 30%;
 
}

.c-item{
  height: 480px;
}

.c-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
img {
  border: 5px solid rgb(236, 238, 231);
}




ol{
  width:80%;
  margin:10%;
}





.testimonial {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: rgb(0, 0, 0);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}





.About-us {
  margin-top: 100px;
  margin-right: 40px;
  margin-left: 40px;
}

footer {
  background-color:black;
  padding: 80px;
}

body{
  background-image: url("img/galaxy.jpg")
}

.signature-component {
  text-align: left;
  display: inline-block;
  max-width: 100%;
  
  button {
    padding: 1em;
    background: transparent;
    box-shadow: 2px 2px 4px #777;
    margin-top: .5em;
    border: 1px solid #777;
    font-size: 1rem;
    &.toggle{
      background: rgba(red, .2);
    }
  }
  canvas {
    display: block;
    position: relative;
    border: 1px solid;    
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
  }
}