h1{
    text-align: center;
    margin-top: 50px;
}

  body{
    background-color: rgb(171, 169, 175);
}


#logo{
  position:absolute;
  top:10px;
  left:10px;
  width:40px;
  height:40px;
  overflow:hidden;
  }

  .carousel-inner{
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 400px;
    height: 500px;
    width: 600px;
}

.p-1{
  background-color: rgb(111, 202, 255);
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 25px;
}
img{
  border-radius: 50%;
}

.marge{
  margin-right: 500px;
  margin-left: 500px;
}













